@page "/"
@using WarCardGame.models
@using WarCardGame.services

<PageTitle>Home</PageTitle>

<input type="number" @bind="InputPlayers" placeholder="Enter a integer less than 53 but more than 1" style="width:500px; height: 20px;" min="2" max="52"/>
<button @onclick="SubmitInput" disabled="@(!IsValidInput)">Submit</button>

@if (!IsValidInput && !string.IsNullOrEmpty(InputPlayers))
{
    <p style="color:red;">Please enter a valid integer less than 53 and more than 1.</p>
}
<button @onclick="TestButton">test button method</button>

<br/>


@if (_gameRound._PlayedCards.PlayedHand.Count > 0)
{
    <h3> Played Cards:</h3>
    <ul>
        @foreach (KeyValuePair<string, Card> player in _gameRound._PlayedCards.PlayedHand)
        {
            <li> @player.Key: @player.Value.Suit | @player.Value.Rank </li>
        }
    </ul>
}
else if (_gameRound._PlayerHands.HandQueue.Count > 0)
{
    <h3> Players:</h3>
    <ul>
        @foreach (KeyValuePair<string, Hand> player in _gameRound._PlayerHands.HandQueue)
        {
            <li> @player.Key: @player.Value.Cards.Count </li>
        }
    </ul>
}


<br/>

<button @onclick="BeginRound"> AHHHHHHH</button>
<br/>
<button @onclick="DetermineWinner"> Determine Winner</button>

@code {

    private string InputPlayers;
    public int PlayerCount;
    private bool IsValidInput => int.TryParse(InputPlayers, out int number) && number >= 2 && number < 53;
    private readonly GameRound _gameRound = new();
    public Card winner;

    // FOR TESTING
    public int testCount;
    // DELETE ABOVE WHEN FINISHED

    private void SubmitInput()
    {
        if (IsValidInput)
        {
            PlayerCount = int.Parse(InputPlayers);
            _gameRound.CreateHands(PlayerCount);
        }
    }

    private void TestButton()
    {
        testCount = _gameRound._PlayerHands.HandQueue.Count;
        Console.WriteLine(testCount);
    }

    private void BeginRound()
    {
        _gameRound.DrawCards(PlayerCount);
        StateHasChanged();
    }

    private void DetermineWinner()
    {
        Card winner  = _gameRound.DetermineWinner();
        
        Console.WriteLine($"{winner.Suit} | {winner.Rank}");
    }
}